@import url('https://fonts.googleapis.com/css?family=Pacifico');
#container1 {
  width: 100%;
  font-family: 'Pacifico' , cursive !important;
}

/*Neon*/
p.a12  {
  text-align: center;
  font-size: 6vw;
}
#temp{
  background: #1699f4;
}
